@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');
:root {
  --primary: #fe2c55;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
