.wrapper {
  width: 100%;
  padding-top: 8px;
  min-height: 100px;
  max-height: min((100vh - 96px) - 60px, 734px);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
}
