.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  width: 100%;
  height: var(--default-layout-header-hight, 60px);
  box-shadow: 0px 1px 1px rgb(0 0 0 /12%);
  display: flex;
  justify-content: center;
}

.inner {
  padding: 0 var(--default-layout-horizontal-spacer);
  height: 100%;
  width: var(--default-layout-header-width, 1150px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;
}

.more-btn {
  padding: 4px;
  font-size: 2rem;
  margin-left: 28px;
  background-color: transparent;
  cursor: pointer;
}

.action-btn {
  position: relative;
  display: flex;
  font-size: 2.4rem;
  color: #161823;
  background-color: transparent;
  padding: 4px 16px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -3px;
  right: 0px;
  padding: 0px 6px;
  height: 2rem;
  line-height: 2rem;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
  font-family: 'ProximaNova', sans-serif;
  background-color: var(--primary);
}

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 12px;
  cursor: pointer;
}
